<html>
<head>
	<link rel="stylesheet" href="application.css" type="text/css" />
</head>
<body>

</body>
<h3> Who has more followers? <h3>
<form action= '/twitter' method = "POST">
	First user:<input type="text" name="first_login"></input>
	Second user:<input type="text" name ="second_login"></input>
	<input type="submit"></input>
	
</form>

</html>