<html>
<head>
	<link rel="stylesheet" href="application.css" type="text/css" />
</head>
<body>

</body>
<!-- <h1> HASH Wars </h1> -->
<h3> What hashes do you use the most? <h3>
<form action= '/twitter' method = "POST">
	First hash:<input type="text" name="first_hash"></input>
	Second hash:<input type="text" name ="second_hash"></input>
	<input type="submit"></input>
	
	<!-- This got moved to twitter_results.erb -->
	<!-- <p> Of your two hashes, <%= @first_hash %> and <%= @second_hash %>, the <%= @second_hash %> hash is more popular. </p> -->
</form>


	<!-- <h1>My name is <%= @name %></h1>
	<p>ejfhwe</p>
	# <% if @show_description %>
	<p>This is my description</p>
	<%end%> -->
</html>