<html>
	<head></head>
	<body>
		

	
		<p> <%= @result %> has more followers! </p>
		
		<!-- Don't do this, changing index each time, loop through the array -->
		<!-- <h3> Author: < %= @tweets[0].author % > </h3>
		<h3> Status: < %= @tweets[0].status % > </h3> -->
<!-- Extension- remove spaces
		< % @tweets.each do |tweet| % >
			<h3> Author: < %= @tweet.author % > </h3>
			<h3> Status: < %= @tweet.status % > </h3>
		< % end % > -->

	</body>


</html>